@import url("css/theme.css");

dl.function {background-color: #FCFCFC}
dl.method {background-color: #FCFCFC}
dl.class {background-color: #FCFCFC}

img {border: none;}
img.center{display:block; margin-left:auto; margin-right:auto; text-align: center;}
.wy-nav-content {
    max-width: 1200px !important;
}

/* Hide home icon in search area */
.wy-side-nav-search > a:hover {background: none; opacity: 0.9}
.wy-side-nav-search > a.icon::before {content: none}

/* RWTH Blue: #00549f */

/* Not in use
.wy-side-nav-search{
    background-color: #FCFCFC;
}

.wy-nav-side{
    background-color: #FCFCFC;
}
*/

/* Fix long titles on mobile */
h1, h2, h3, h4, h5, h6 {word-break: break-all}

/* Temp fix for https://github.com/readthedocs/sphinx_rtd_theme/pull/1109 */
.hlist tr {
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    }

.hlist td {margin-right: auto}
